<ul class="heroes">
	<li 
		*ngFor="let hero of heroes" 
		(click)="onSelect(hero)" 
		[class.selected]="hero === selectedHero" >
		<span class="badge">
			{{hero.id}} 
		</span>
		<span>
			{{hero.name}}
		</span>
	</li>
</ul>
	
<div *ngIf="selectedHero" >
	<h2>
		{{selectedHero.name | uppercase}} details
	</h2>

	<div>
		<span>id: </span>
		<span>
			{{selectedHero.id}}
		</span>
	</div>

	<div>
		<label for="name">
			name: 
		</label>
		<input type="text" [(ngModel)]="selectedHero.name" placeholder="name" >
	</div>
</div>
